<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weekly.mapper.UserMapper">

	<!-- 通过用户名获取用户 -->
	<select id="getUserbyName" resultType="com.weekly.bean.User" parameterType="string">
		select user_id as userId, user_name as userName, password from users where user_name = #{userName}
	</select>
	
	<!-- 创建新用户 -->
	<insert id="insertUser" parameterType="com.weekly.bean.User">
		insert into users values(#{userId},#{userName},#{password}) 
	</insert>
	
	<!-- 更新用户名 -->
	<update id="updateUserName">
		update users set user_name=#{userName} where user_id=#{userId}
	</update>
	
	<!-- 更新密码 -->
	<update id="updateUserPass">
		update users set password=#{password} where user_id=#{userId}
	</update>
	
</mapper>